body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

header {
  display: flex;
  unicode-bidi: isolate;
  height: 100vh;
  width: 100%;
  background-image: url(https://image.ibb.co/gzOBup/showcase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.hc {
  height: 350px;
  width: 300px;
  max-width: 600px;
  margin-bottom: 10rem;
}

.logo1 {
  height: 180px;
  width: 180px;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  background-color: #000000;
}

.logo-item {
  text-align: center;
  max-width: 250px;
}

.logo {
  width: 60px;
  height: 48px;
  margin-bottom: 10px;
}

h3 {
  margin: 10px 0 5px 0;
  font-size: 18px;
}

p {
  font-size: 14px;
  color: #ffffff;
}

.sec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f4f4f4;
  color: #000000;
}

.sec img {
  width: 200px;
  height: 160px;
  margin-right: 150px;
}

.text-content {
  max-width: 300px;
  width: 100%;
}

h4 {
  margin: 0;
}

.colortext {
  color: #000000;
}

footer {
  text-align: center;
  color: #000000;
  background-color: #676767;
  padding: 20px;
  margin-top: 20px;
}
